<div class="container">
	<h1>Put your monsters in their natural habitats!</h1>

	<div class="row justify-content-around">
		<div class="col-4 col-lg-3 mt-2">
		     Monsters	
		<div id="retrieveMonsterDropdown">
		<p style="font-size:24px">Loading...</p>
		     <option> </option>
		</div>

		</div>
		<div class="col-4 col-lg-3 mt-2">
		Backgrounds
		<div id="retrieveBackgroundDropdown">
		<p style="font-size:24px">Loading...</p>
		     <option> </option>
		</div>

		</div>
	       <div class="col-4 col-lg-3">
	       	    <div class="col-12">
			 <input type="radio" name="usersRadio" value="onlyMyBackgrounds" id="onlyMyBackgrounds" checked="true">My Backgrounds
			 <input type="radio" name="usersRadio" value="allUsersCreations"> All Users'
	       	    </div>
	       	    <div class="col-12 mt-2">
			<button class="btn btn-success" id="filterByUser">Filter Backgrounds</button>
	       	    </div>		    

	       </div>
	</div>



</div>
<div class="container">
	<div class="jumbotron mt-4">
	     <div class="row justify-content-around form-group">
	         <div id="assemblyFrame" class="col-md-6" style="background:#FFFFFF"></div>
	         <div id="increaseSizeDiv" class="col-md-2">
		      <label for="increaseSize">Monster Size</label>
		      <input class="form-control" type="number" id="increaseSize" name="increaseSize" maxLength="3" minLength="1" max="300" min="1">
		 </div>

	    </div>
	</div>
	<button class="btn btn-primary" id="saveCombo" disabled>Save Combo</button>
</div>



<!-- Save Canvas Modal -->
<div class="modal fade" id="saveMonster" tabindex="-1" role="dialog" aria-labelledby="saveName" aria-hidden="true">
  <div class="modal-dialog" role="document" id="saveMonsterModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saveName"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="saveImage">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dismissCanvas">Close</button>
        <button type="button" class="btn btn-primary" id="saveCanvas"></button>
      </div>
    </div>
  </div>
</div>

<!-- Canvas is saved Modal -->
<div class="modal fade alerts" id="saveSuccess" tabindex="-1" role="dialog" aria-labelledby="saveSuccessful">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <p>Combo has been saved!!</p>
    </div>
  </div>
</div>





