<h1 class="text-center display-3">Let's make some monsters!</h1>
    
<div class="container jumbotron">
  <div class="row justify-content-around">
    <div class="col-8">
      <div class="h3">1. Draw Parts 
      	<button type="button" class="btn" data-container="body"  data-toggle="popover" data-placement="right" data-trigger="focus" data-html="true" data-content="The Draw Parts page implements create, read, update, and delete functionalities for the parts, backgrounds, and part_type tables. The user is restricted to only selecting, updating, and deleting parts and/or backgrounds that the current logged in user created.">
          <i class="fas fa-info-circle"></i>
	</button>
      </div>
      <p class="ml-4">
        Let's get down to business!<br><br>Use the Draw Parts page to draw parts that will be used to assemble monsters on the Assembly page.
	<br><br>You can also use the Draw Parts page to create cool backgrounds on which you will later be able to position your monsters in their natural habitats, as they are found in the wild.
      </p>
    </div>
  </div>

<br>

  <div class="row justify-content-around">
    <div class="col-8">
      <div class="h3">2. Assemble Monsters 
      	<button type="button" class="btn" data-container="body"  data-toggle="popover" data-placement="right" data-trigger="focus" data-boundary="viewport" data-html="true" data-content=

"The Assembly page demonstrates create, read, and update capabilities for the parts, monster, monster-parts, and part_type tables.
<br><br>
The user is allowed to select parts that other users created, or filter to see just the logged in user's parts. 
Parts can be filtered by choosing part types from the 'Search Part Type' dropdown. 
Additionally, the user can search for parts by typing part (or all) of the part name he/she is looking for into the 'Name' input field.
<br><br>
After naming the monster, it can then be saved by selecting the 'Save Monster' button. Once a user has saved one or more monsters, the user can then retrieve monsters 
from the database by typing part (or all) of the monster name into the 'Monster Name' field. The user is restricted to selecting only the current logged in user's monsters. 
When retrieving monsters, the user can then update the monster">

          <i class="fas fa-info-circle"></i>
	</button>
      </div>
      <p class="ml-4">
      	 Go crazy here!
	 <br><br>
	 Use the Assembly page to actually construct your monsters.
	 <br><br>
	 Anything goes here! Three heads, two torsos, and one leg?? Why not?!?
      </p>
    </div>
  </div>



<br>

  <div class="row justify-content-around">
    <div class="col-8">
      <div class="h3">3. Habitats 
      	<button type="button" class="btn" data-container="body"  data-toggle="popover" data-placement="right" data-trigger="focus" data-boundary="viewport" data-html="true" data-content=
"The Habitats page implements read and update functionalities for the monster and backgrounds tables.
<br><br>
The user is allowed to select monsters that the user created from a dropdown. Once the user selects a monster, the user can then choose a background to place behind the monster. The user can filter backgrounds to see all users' backgrounds, or only the current logged in user's backgrounds. The same background can be used for more than one monster.
<br><br>
After the user has paired a background with a monster (and of course dragged the monster to just the right place), the user can then save that combination, which updates the monster and backgrounds tables.">
          <i class="fas fa-info-circle"></i>
	</button>
      </div>
      <p class="ml-4">
      	 Let's do this!
	 <br><br>
	 Use the Habitats page to choose where your monster lives. On the Habitats page, first select a monster. Once you choose a monster, you will then be able to match it with a background either you drew or another user created.
	 <br><br>
	Other users will be able to see your monsters/background combos that you make here. It's best to put your monster in its most natural habitat, typically where it is found in the wild. Did you know the Abominable Snowman is actually most often found in the hot arid deserts of Africa? Neither did I!
      </p>
    </div>
  </div>


<br>

  <div class="row justify-content-around">
    <div class="col-8">
      <div class="h3">4. Gallery 
      	<button type="button" class="btn" data-container="body"  data-toggle="popover" data-placement="right" data-trigger="focus" data-boundary="viewport" data-html="true" data-content=
"The Gallery page demonstrates read functionality for the monster and backgrounds tables.
<br><br>
The user is able to view all his/her monsters, in addition to seeing all users' monsters if the user selects that filter option.
">
          <i class="fas fa-info-circle"></i>
	</button>
      </div>
      <p class="ml-4">
      	 This is where the real fun happens!
	 <br><br>
	 It's time to show off your creations! The gallery page allows you to view your own creations, or you
	 can filter to see all user's creations. The search box will help you find monsters on demand.
      </p>
    </div>
  </div>



</div>


